* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.body {
    background: url(../otherFiles/Snake_Pass_Art.jpg) no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1em;
    right: 1em;
    height: 2em;
    width: 4em;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 3px 3px #fff;
}

#board {
    background: rgba(255, 255, 255, 0.8);
    width: 90vmin;
    height: 90vmin;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px 10px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.snakeHead {
    background-color: purple;
    width: 100%;
    border-radius: 50%;
}

.snakeBody {
    background-color: #DB6B97;
    width: 100%;
}

.snakeFood {
    background: linear-gradient(#9B0000, #FF7272);
    width: 100%;
}